/* Body - Add background color, change font family & size */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    font-size: 18px;
}

/* Change color of container */
.container {
    max-width: 1100px;
    margin: 0 auto; 
    background-color: #d4e9e7;
}

/* Change image size and the color, position of site-title*/
header {
    position: relative;
}

header img {
    width: 100%;
    height:100%;
}

.site-title {
    position: absolute;
    font-size: 40pt;
    color: white;
    top: 40%;
    left:35%;
}

 /* Adds padding for the main body */
.current {
    padding: 0 10px 0 10px;
}

/* Change h2 & h3 font size */
h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

/* Adding border on the right side */
.navborder {
    border-right: 1px solid black;
}

/* Change the display style of navigation*/
nav ul {
    list-style: none;
    display: flex;
    margin: 14px auto;
  }
  
nav li {
    font-size: 24px;
    text-align: center;
    flex:1;
    padding: 10px;
  }


/* Change image size and location*/
img {
    width: 23%;
    float:left;
    margin-right: 20px;
}

/* Change line height & font size of paragraphy */
p {
    line-height: 1.5em;
}

/* Add border for contact to learn more */
aside {
        border: 1.5px solid black;
        padding: 20px;
        line-height:2rem;
}

/* Adjust the width & height of the form */
#fullname, #youremail {
    width: 100%;
    line-height: 20px;
}

#yourmessage {
    width: 100%;
    line-height: 20px;
    height: 100px;
    resize: none;
}

/* Change the font size of the question */
.question {
    font-size: 22px;
    padding: 10px 0 10px 0;
}

/* Change the setting of SEND button */
.custom-button {
    background-color: #d4e9e7;
    text-transform: uppercase;
    padding:10px; 
  }

/* Adjust the alignment of footer */
footer {
    text-align: right;
    padding: 30px 30px 30px 0;
}